@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu|Teko:700');

// Header
$header-font-weight: 300;
$header-font-family: 'Ubuntu';
$header-margin-top: 10px;
$header-margin-bottom: 10px;

// Buttons
$btn-margin: 6px 2px;
$btn-padding-y-axis: 15px;
$btn-padding-x-axis: 18px;
$btn-distance: 12px;
$btn-img-with-label-height: 24px;
$btn-img-no-label-height: 36px;
$btn-img-copy-height: 20px;

// Footer variables
$footer-font-size: 12px;
$footer-font-weight: 300;
$footer-logo-height: 80px;

// Bootstrap variables
$container-lg: 970px;

// EOSC styleguides
$font-family-sans-serif:  "Ubuntu";
$body-bg: $wild-sand;
$headings-color: $almost-black;

